@model IEnumerable<MvcGround.Models.ViewModels>
@{
    ViewBag.Title = "ViewPeople";
}

<h2>ViewPeople</h2>

@*<form method="get">*@

@using (Ajax.BeginForm(
    new AjaxOptions
    {
        HttpMethod = "get",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "peopleList"
    }))
{
    <input type="search" name="searchTerm" />
    <input type="submit" value="Search by Name" />
}


@*</form>*@
<br />

<p>@Html.ActionLink("Create New", "Create")</p>
<br />

@*<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(Model => Model.Name)</th>
        <th>@Html.DisplayNameFor(Model => Model.PhoneNumber)</th>
        <th>@Html.DisplayNameFor(Model => Model.City)</th>
        <th></th>
    </tr>*@

<div id="peopleList" class="row">
    <div class="panel panel-body">
        <div class="col-lg-3">
            <p><b>Name</b></p>
        </div>

        <div class="col-lg-3">
            <p><b>Phone Number</b></p>
        </div>

        <div class="col-lg-3">
            <p><b>City</b></p>
        </div>

        <div class="col-lg-3">
        </div>
    </div>
        @foreach (var item in Model)
        {
            @*<tr >*@
            @Html.Partial("_PartialPerson", item)
            @*<td>
                @Html.ActionLink("Delete", "Delete", new { id = item.Name })
            </td>*@

            @*<td>@Html.DisplayFor(modelItem => item.Name)</td>
            <td>@Html.DisplayFor(modelItem => item.PhoneNumber)</td>
            <td>@Html.DisplayFor(modelItem => item.City)</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.Name })</td>*@
            @*</tr>*@
        }
    
</div>
      


@*</table>*@
