@model MvcGround.Models.School.Assignment

@{
    ViewBag.Title = "CreateAssignment";
}

<h2>CreateAssignment</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Assignment</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(p => p.AssignmentName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(p => p.AssignmentName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(p => p.AssignmentName, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @*@foreach(var item in Model)
        {

        }*@
        @*@Html.DropDownListFor(p => p.Course.Id,
       new SelectList(Enum.GetValues(typeof())*@
        @*@foreach (var item in Model.Course)
        {
        <input type="radio" name="Courses" value="@item.Course.Id" class="form-control" />
        }*@
        @*@Html.LabelFor(model => model.Course.Id, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Course.Id, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Course.Id, "", new { @class = "text-danger" })
        </div>*@
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>
</div>
}

